* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #5c8891;
  margin: 0;
  height: auto;
}
.overskrift {
  color: rgb(255, 255, 255);
  border: 3px solid;
  border: 3px solid;
}
p {
  color: bisque;
}
