* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #c6c6c6;
}

main {
  max-width: 1400px;
  margin-inline: auto;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}
